<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <button class="btn btn-info btn-lg pull-right mt-4" (click)="onNew()">New</button>
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Users</h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <mat-table matSort matSortDirection="asc" [dataSource]="datasource" *ngIf="!(datasource.loading$ | async); else loading">
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef >E-Mail</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="roles">
                                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                                    <mat-cell *matCellDef="let user">{{ user.roles | roleFind: 'ROLE_ADMIN' }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let user" class="td-actions text-right">
                                        <i class="material-icons" style="color: #4CAF50; cursor: pointer;" (click)="onEdit(user.id)">edit</i>
                                        <i class="material-icons" style="color: orangered; cursor: pointer;" (click)="onDelete(user.id)">close</i>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                            </mat-table>

                            <mat-paginator #paginator
                                           [length]="datasource.length"
                                           [pageIndex]="0"
                                           [pageSize]="20"
                                           [pageSizeOptions]="[20, 40, 60, 80, 100]">
                            </mat-paginator>
                            <ng-template #loading>
                                Loading Please Wait...
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
